ul {
    list-style: none;
    }

.container{
    width: 90%;
    margin: auto;
}

a {
    color: white;
    text-decoration: none;
    }

.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    }

/* Navigation */

/* Nav left */
.nav-main ul{
    display: flex;
}

.nav-main ul li{
    padding: 20px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid white;
}
.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}

